html, body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
.dontDisplay {
  display: none;
}
.dontDisplayStrict {
  display: none !important;
}
#fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  opacity: 1 !important;
}
