html, body {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	height:100%;
	margin:0;
	padding:0;
	background:black;
}
.ifr {
	min-width:960px;
	min-height:600px;
	background:black;
	height:100%;
	position:relative;
	color:#ddd;
	/*overflow:hidden;*/
	font:13px/1.2 "Lucida Grande", "Lucida Console", Arial, Helvetica, sans-serif;
}
.ifr > .trailers {
	top:0px;
	bottom:0;
	width:100%;
	position:absolute;
	z-index:1;
}
.ifr > .config {
	padding:0 5px;
	top:-25px;
	height:25px;
	background-color:#666;
	background-image:url(../images/divider.png);
	background-repeat:repeat-x;
	background-position:bottom;
	moz-transform: translate(0pt, -20px);
	perspective:1px;
	overflow:hidden;
	position:relative;
}
.ifr > .trailers, .ifr > .config {
	-moz-transition:top 0.2s;
	-webkit-transition:top 0.2s;
	-ms-transition:top 0.2s;
	-o-transition:top 0.2s;
	transition:top 0.2s;
}
.ifr > .config.visible {
	top:0px;
}
.ifr > .config.visible + .trailers {
	top: 25px
}
#ifr-toggleConfig {
	background:#333;
	display: block;
	height: 8px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 30px;
	cursor:pointer;
	position:relative;
	-moz-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s;
}
#ifr-toggleConfig:hover{
	background:#bbb;
}
.ifr > .trailers > .movieInfo, .ifr > .trailers > nav {
	position:absolute;
	width:50%;
	top:0;
	bottom:0;
	left:0;
	right:auto;
	text-align:center;
}
.ifr > .trailers > .movieInfo {
	padding-top:50px
}
.ifr > .trailers > nav {
	right: 0;
	left:auto;
}
.ifr > .trailers > .movieInfo > img {
	height:50%;
	-moz-transition: opacity 0.2s linear 0s;
	opacity:1;
}
.ifr > .trailers > .movieInfo > img.change {
	opacity:0;
}

.ifr > .trailers > .movieInfo > .poster{
    background: url('../images/loader.gif') no-repeat 50% 50%;
}
.ifr > .trailers > .movieInfo > .details {
	text-align:left;
	margin:20px 50px 0;
	position:absolute;
	bottom:60px;
}
.ifr > .trailers > .movieInfo > .details > * {
	padding:10px 0;
	border-top:1px solid #666;
	display:block;
}
.trailers .details > #rating {
	background-image: url("../images/rating/rating_black_bg.png");
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:-50px 50px;
	border: medium none navy;
	display: inline;
	height: 21px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 9px;
	width: 56px;
}
#rating.g {
	background-position:33px 0 !important
}
#rating.pg {
	background-position:26px -80px!important
}
#rating.pg-13 {
	background-position:4px -120px !important
}
#rating.nc-17 {
	background-position:0px -160px !important
}
#rating.r {
	background-position:33px -40px !important
}
.ifr > .trailers > .movieInfo > .details > .summary, .ifr > .trailers > .movieInfo > .details > h3 {
	margin:0;
}
.ifr > .trailers > .movieInfo > .details > .summary {
	height:4em;
	overflow:auto;
}
.ifr > .trailers > .movieInfo > .details > h3 {
	border:none;
	padding-right:65px
}
.movieInfo > .details table {
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	max-width:100%;
	width:100%;
	table-layout:fixed;
}
.movieInfo > .details table th {
	text-align:right;
	color:#666;
	font-weight:normal;
	padding-right:4px;
	width:75px;
}
.movieInfo > .details table th, .movieInfo > .details table td {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.ifr > .trailers > .movieInfo > .details > cite {
	font-size: 85%;
	font-style: normal;
	color:#666;
}
.trailers nav h2 {
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 20px;
}
.trailers nav > .movieList {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 70px;
	overflow:auto;
	margin-bottom:60px;
}
.trailers nav ul {
	position:relative;
	list-style:none;
	padding:0;
	margin:20px 50px;
}
/*.movieList:before, .movieList:after {
	content:' ';
	z-index:10;
	position:absolute;
	height:40px;
	left:0;
	right:0;
	top:0;
	background:red; -moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
}
.movieList:after {
	bottom:0;
	top:auto;
	background: blue;-moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
}*/
.trailers nav ul li {
	color:#DDD;
	font-size:140%;
	text-align:left;
}
.sliderNav {
	position: relative;
}
.sliderNav li {
}
.sliderNav li a {
	position: relative;
	cursor: pointer;
	display:block;
	text-decoration: none;
	z-index: 2;
	color:#ddd;
	padding:10px 20px;
}
.sliderNav .selector {
	position: absolute;
	z-index: 1;
	top: 0;
	background: #CCC;
	background: -moz-linear-gradient(top, #EFEFEF, #CCCCCC);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#CCCCCC));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 6px #333;
	-webkit-box-shadow: 0 0 6px #333;
	padding:0;
	margin:0;
}
/*.trailers nav ul li:hover, */.sliderNav .selector {
	background: #4c4c4c;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #666666 2%, #606060 18%, #474747 41%, #2c2c2c 44%, #000000 51%, #111111 60%, #2b2b2b 95%, #1c1c1c 98%, #131313 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(2%, #666666), color-stop(18%, #606060), color-stop(41%, #474747), color-stop(44%, #2c2c2c), color-stop(51%, #000000), color-stop(60%, #111111), color-stop(95%, #2b2b2b), color-stop(98%, #1c1c1c), color-stop(100%, #131313));
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #666666 2%, #606060 18%, #474747 41%, #2c2c2c 44%, #000000 51%, #111111 60%, #2b2b2b 95%, #1c1c1c 98%, #131313 100%);
	background: -o-linear-gradient(top, #4c4c4c 0%, #666666 2%, #606060 18%, #474747 41%, #2c2c2c 44%, #000000 51%, #111111 60%, #2b2b2b 95%, #1c1c1c 98%, #131313 100%);
	background: -ms-linear-gradient(top, #4c4c4c 0%, #666666 2%, #606060 18%, #474747 41%, #2c2c2c 44%, #000000 51%, #111111 60%, #2b2b2b 95%, #1c1c1c 98%, #131313 100%);
	background: linear-gradient(top, #4c4c4c 0%, #666666 2%, #606060 18%, #474747 41%, #2c2c2c 44%, #000000 51%, #111111 60%, #2b2b2b 95%, #1c1c1c 98%, #131313 100%);
	box-shadow:0 0 10px 5px #06F;
}
.dontDisplay {
	display:none
}
.dontDisplayStrict{
    display:none !important;
}
#fancybox-overlay {
	background-color:rgba(0, 0, 0, 0.7) !important;
	opacity:1 !important;
}
